body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin-inline: auto;
    padding: 0 10px;
    font-size: min(16px, 4vw);
}

a:link {
  color: lightblue;
}

a:visited {
  color: pink;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

header {
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 10px;
}

footer {
    margin-top: 150px;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 20px;
    /* row-gap: 20px; */
}

aside a {
    padding: 0 10px;
}

#countdown-message {
  color: gray;
}